@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/ArchitectsDaughter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.body{
    font-family: Architects Daughter;
}

.container{
    margin: 0 auto;
    width: 1110px;
}
.header{
    background: #81A36B;
    padding: 25px 0;
}
.header .container{
    font-size: 0;
}
.header_logo,
.header_list{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}
.header_logo{
    width: 139px;
}
.header_list{
    font-size: 0;
    width: 971px;
    text-align: right;
    font-family: Roboto;
    cursor: pointer;
}
.header_list li{
    display: inline-block;
    font-size: 18px;
}
.header_list li + li{
    margin-left: 30px;
}
.header_list > li a{
    color: #161616;
}
.section1{
    background: #D8D8D6;
}
.box > div h1{
    color: #161616;
    font-size: 62px;
    margin-top: 174px;
    margin-bottom: 41px;
    font-family: Architects Daughter;
}
.box > div p{
    color: #161616;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
    font-family: Roboto;
    line-height: 30px
    
}
.btn{
    width: 197px;
    height: 60px;
    border-radius: 6px;
    background: #81A36B;
    font-size: 18px;
    margin-right: 23px;
    font-family: Roboto;
    cursor: pointer;
}
.link{
    width: 157px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #81A36B;
    display: inline-block;
    font-size: 18px;
    color: #161616;
    text-decoration: none;
    font-family: Roboto;
    padding-top: 20px;
    text-align: center;
    
    
}
.box{
    font-size: 0;
}
.box > div{
    display: inline-block;
    width: 540px;
    font-size: 18px;
    vertical-align: top;
    padding-right: 30px;
}
.section2{
    background: #D8D8D6;
    padding-bottom: 120px;
}
.box1 > div h2{
    font-size: 32px;
    color: #000;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
    font-family: Architects Daughter;
}
.box1 > div p{
    color: #161616;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    width: 540px;
    height: 112px;
    margin: 0 auto;
    line-height: 30px;

}
.section3{
    background: #81A36B;
    padding: 78px 165px;
}
.cards > ul{
    display: flex;
    justify-content: space-between;


}

.cards > ul li{
    color: #161616;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.section4{
    background: #D8D8D6;
    padding: 120px;
}
.box4 > div + div h2{
    color: #161616;
    text-align: center;
    font-family: Architects Daughter;
    font-size: 32px;
    padding-bottom: 50px;
    margin-top: 180px;
    
}
.box4 > div + div p{
    color: #161616;
    font-family: Roboto;
    font-size: 18px;
    text-align: justify;
    width: 540px;
    height: 112px;
}

.box4{
    font-size: 0;
}
.box4 > div{
    width: 539px;
    display: inline-block;


}
.box4 > div + div{
    vertical-align: top;
    width: 540px;
    margin-left: 30px;
}
.section5{
    background: #D8D8D6;
    padding: 120px;

}
.sub{
    color: #161616;
    text-align: center; 
    font-family: Architects Daughter;
    font-size: 32px;
    padding-bottom: 50px;
}
.main_box .last_box{
    width: 350px;
    height: 510px;
    border-radius: 6px;
    background: #81A36B;

}
.main_box{
    font-size: 0;
}
.last_box{
    display: inline-block;
    font-size: 18px;
    width: 350px;
    padding: 15px 15px 93px;
}
.last_box + .last_box{
    margin-left: 30px;
}
.text{
    color: #161616;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 23px;
}
.footer{
    background: #81A36B;
}
.footer_list{
    color: #161616;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.footer_list li:nth-child(1){
    padding-top: 50px;
}
.footer_list li:nth-child(2){
    padding-top: 25px;
}
.footer_list li:nth-child(3){
    padding-top: 20px;
}
.footer_list li:nth-child(4){
    padding-top: 15px;
}
.footer_list li:nth-child(5){
    padding-top: 15px;
}
.footer_list li:nth-child(6){
    padding-top: 15px;
}
.footer_list li:nth-child(7){
    padding-top: 15px;
}
.footer_list li:nth-child(7){
    padding-bottom: 50px;
}